{{ define "footer.html" }}
   <footer class="navbar navbar-fixed-bottom">
       <div class="container">
            <div class="footer">
                <ul class="legals">
                    <li><a href="#">Terms &amp; Conditions</a></li>
                    <li><a href="#">Legals</a></li>
                </ul>
                <div class="credit">
                    <p>A dockernized service for <a href="#"><em>SS</em></a></p>
                </div>
            </div>
       </div>
    </footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- Toastr script-->
    <script src="/static/js/toastr.min.js"></script>
{{end}}
