{{define "header.html"}}

  <div class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain">
            <span class="glyphicon glyphicon-chevron-right" style="color:white;"></span>
          </button>
        <a class="navbar-brand" href="/">ignite</a>
      </div>
      <div class="collapse navbar-collapse" id="navMain">
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a href="/">首页</a></li>
          <li><a class="signup" href="#">注册</a></li>
          <li><a class="login" href="#">登录</a></li>
          <li><a href="#">关于</a></li>
        </ul>
      </div>
    </div>
  </div>
{{end}}