{{ define "header.html" }}

  <div class="navbar navbar-inverse navbar-fixed-top opaque-navbar">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain">
            <i class="iconfont icon-caidanlan" style="color:white;"></i>
        </button>
        <a class="navbar-brand" href="/">ignite</a>
      </div>
      <div class="collapse navbar-collapse" id="navMain">
        <ul class="nav navbar-nav pull-right">
          <li class="active header-li header-hero"><a class="hero-move" href="#">首页</a></li>
           {{ if not .uInfo }}
          <li class="header-li header-signup"><a class="signup-move" href="#">注册</a></li>
          <li class="header-li header-login"><a class="login-move" href="#">登录</a></li>
          {{ else }}
          <li class="header-li"><a href="/panel/logout">退出</a></li>
          {{ end }}
          <!-- <a class="header-li"><a href="#">关于</a></a> -->
        </ul>
      </div>
    </div>
  </div>
{{end}}
