{{ define "nav.html" }}

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container">
      <a class="navbar-brand" href="/">ignite</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav justify-content-end">
          <li class="nav-item active header-hero"><a class="nav-link hero-move" href="#">首页</a></li>
            {{ if not .uInfo }}
          <li class="nav-item header-signup"><a class="nav-link signup-move" href="#">注册</a></li>
          <li class="nav-item header-login"><a class="nav-link login-move" href="#">登录</a></li>
          {{ else }}
          <li class="nav-item"><a class="nav-link" href="/panel/logout">退出</a></li>
          {{ end }}
        </ul>
      </div>
    </div>
  </nav>

{{end}}
